*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

@font-face{
  font-family: avantgarde-demi;
  src: url(./unicode.avantgd.ttf);
}
@font-face{
  font-family: Consolas;
  src: url(./Consolas\ Bold.ttf);
}
@font-face{
  font-family: Metropolis-SemiBold;
  src: url(./Metropolis-SemiBold.otf);
}
.main-container{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
@keyframes animate1{
  from{
  display: block;
  opacity: 1;
  }
  to{
    display: none;  
    opacity: 0; 
  }
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 3.5vh;
  margin-bottom: 2.5vh
}
.text{
  width: 85.5vh;
  height: 20vh;
  padding-bottom: 27vh;
  position: relative;
  left: -8vh;
  }
.l-text{
  font-family: 'avantgarde-demi';
  font-size: 16vh;
  color: #819596;
  letter-spacing: -0.4vh;
}
.green-letter{
  color: #5ab65f;
  margin-left: 0.4vh;
  margin-right: 0.1vh;
}
.container-circle{
  margin-right: 4.5vh;
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 39.9vh;
  height: 9vh;
}
.larg-circle{
  width: 25.2vh;
  height: 25.2vh;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.circle{
  width: 19.35vh;
  height: 19.35vh;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; 
  position: absolute;
}
.circle-1{
  width: 16.65vh;
  height: 16.65vh;
  position: relative;
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.semi{
  height: 4.17vh;
  width: 5.37vh;
  border-radius: 26.01vh 26.01vh 0 0;
}
.semi-1{
  background-color: #5ab65f;
  transform: rotate(0deg);
  position: absolute;
  bottom: 16.68vh;
  left: 5.61vh;
}
.semi-2{
  background-color: #5ab65f;
  transform: rotate(72deg);
  position: absolute;
  bottom: 9.36vh;
  left: 15.6vh;
}
.semi-3{
  background-color: #5ab65f;
  transform: rotate(-72deg);
  position: absolute;
  bottom: 9.54vh;
  left: -4.26vh;
}
.semi-4{
  background-color: #5ab65f;
  transform: rotate(-144deg);
  position: absolute;
  bottom: -2.19vh;
  left: -0.51vh;
}
.semi-5{
  background-color: #5ab65f;
  transform: rotate(144deg);
  position: absolute;
  bottom: -2.13vh;
  left: 11.85vh;
} 
.small-circle{
  width: 16.5vh;
  height: 16.5vh;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transform: rotate(-90deg);
}
.s-circle{
  width: 12.6vh;
  height: 12.6vh;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
} 
.xs-circle{
  width: 11.7vh;
  height: 11.7vh;
  position: relative;
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-semi{
  height: 2.1vh;
  width: 3.3vh;
  border-radius: 43.35vh 43.35vh 0 0;
}
.semi-6{
  background-color: #5ab65f;
  transform: rotate(0deg);
  position: absolute;
  bottom: 11.7vh;
  left: 4.2vh;
}
.semi-7{
  background-color: #5ab65f;
  transform: rotate(72deg);
  position: absolute;
  bottom: 6.9vh;
  left: 10.8vh;
}
.semi-8{
  background-color: #5ab65f;
  transform: rotate(-72deg);
  position: absolute;
  bottom: 6.9vh;
  left: -2.4vh;
}
.semi-9{
  background-color: #5ab65f;
  transform: rotate(-144deg);
  position: absolute;
  bottom: -0.84vh;
  left: 0.18vh;
}
.semi-10{
  background-color: #5ab65f;
  transform: rotate(144deg);
  position: absolute;
  bottom: -0.84vh;
  left: 8.25vh;
}
.text-2{
  font-family: Metropolis-SemiBold;
  font-size: 5.6vh;
  width: 133vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5ab65f;
  color: #fff;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 4vh;
}
.green-area-1{
  font-family: Consolas;
}
.yellow-text{
  color: #fcee21;
  font-size: 22.9vh;
  padding-top: 6vh;
  padding-bottom: 6.7vh;
}
.gray-text{
  font-size: 13vh;
  width: 133.5vh;
  background-color: #fff;
  color:#758687;
  padding-top: 13vh;
  padding-bottom: 13vh;
}
.white-text{
  padding-top: 5vh;
  font-size: 12vh;
}
.page-2{
  margin-top: -5.5vh;
}

.yellow-text-2{
  color: #fcee21;
  font-size: 22.9vh;
  padding-bottom: 9vh;
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 3.5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 3.5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 3.5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 3.5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

#hideMe2 {
    -moz-animation: cssAnimation 0s ease-in 7s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 7s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 7s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 7s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}


